@font-face {
    font-family: 'Glyphicons Regular';
    src: url('../fonts/glyphicons-regular.woff2') format('woff');
}

[class*="glyphicon-regular-"] {
  display: inline-block;
  font-family: 'Glyphicons Regular';
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-regular-truck:before {
  content: "\E059";
}